<% @results.each do |r| %>
  <ul>
  <div>
    <%= image_tag(r[:image]) %>
  </div>
    <li><%= link_to  r[:title], show_product_path(product_url: r[:url]) %></li>
    <li><%=r[:url]%></li>
    <li><%=r[:price]%></li>
  </ul>
<%end%>